{% extends "base.html" %} {% block content %}


<main id="Products">
    <div class="container">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

            <!-- Navbar brand -->
            <span class="navbar-brand">Categories:</span>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">All
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shirts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sport wears</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Outwears</a>
                    </li>

                </ul>
                <!-- Links -->

                <form class="form-inline">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    </div>
                </form>
            </div>
            <!-- Collapsible content -->

        </nav>
        <!--/.Navbar-->
        <div class="container mt-5" id="Products">
            <section class="dark-grey-text text-center">
                <h2 class="font-weight-bold mb-4 pb-2" id="Shirt">GET UP TO 70% OFF 700 STYLES</h2>
                <div class="row">
                    {% for item in object_list %}
                    <div class="col-lg-3 col-md-6 mb-4">

                        <div class="card card-cascade narrower card-ecommerce">

                            <div class="view view-cascade overlay">
                                <img src="{{ item.image }}" class="card-img-top">
                                <a href="{{ item.get_absolute_url }}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <div class="card-body card-body-cascade text-center pb-3">
                                <a href="" class="grey-text">
                                    <h5>{{ item.get_category_display }}</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="{{ item.get_absolute_url }}" class="dark-grey-text">{{ item.title }}
                                        </a>
                                    </strong> {% if item.label_rate == null %} {%else%}
                                    <span class="badge badge-pill {{ item.get_label_display }}-color">
                                        {{item.label_rate}}
                                    </span> {% endif %}

                                </h5>



                            </div>

                            <div class="card-footer px-1">
                                <span class="float-left font-weight-bold ">
                                    <h5 class="font-weight-bold blue-text">
                                        <strong>$
                                            {% if item.discount_price %}
                                            {{ item.discount_price }}
                                            {% else %}
                                            {{ item.price }}
                                            {% endif %}
                                        </strong>
                                    </h5>
                                </span>
                                <span class="float-right">
                                    <a href="{{ object.get_add_to_cart_url }}" class="material-tooltip-main"
                                        data-toggle="tooltip" data-placement="top" title="Add to Cart">
                                        <i class="fas fa-shopping-cart grey-text ml-3"></i>
                                    </a>
                                    <a class="material-tooltip-main" data-toggle="tooltip" data-placement="top"
                                        title="Add to Wishlist">
                                        <i class="fas fa-heart grey-text ml-3"></i>
                                    </a>
                                </span>
                            </div>

                        </div>

                    </div>
                    {% endfor %}

            </section>
            </div>

            {% if is_paginated %}
            <nav class="d-flex justify-content-center wow fadeIn">
                <ul class="pagination pg-blue">

                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                        <span class="sr-only">(current)</span>
                    </a>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
</main>

{% endblock content %}